<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>mvuevska</id>
  <fullName>Maja Vuevska</fullName>
  <properties>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1224.vc23ca_a_9a_2cb_0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <name>blueocean-github-domain</name>
            <description>blueocean-github-domain to store credentials by BlueOcean</description>
            <specifications>
              <io.jenkins.blueocean.rest.impl.pipeline.credential.BlueOceanDomainSpecification plugin="blueocean-pipeline-scm-api@1.27.3"/>
            </specifications>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <list>
            <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
              <scope>USER</scope>
              <id>github</id>
              <description>GitHub Access Token</description>
              <username>mvuevska</username>
              <password>{AQAAABAAAAAwXwio7KydlbXoNSHZiOaMw92nXNa/OrOpjCZRxO/S48g5Vujs10VQnJlZEZ7PMsjVpMry2RDYMADdqZb8k9dClA==}</password>
              <usernameSecret>false</usernameSecret>
            </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          </list>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.95">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.4.1">
      <data class="concurrent-hash-map"/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.7">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed>
        <string>buildQueue</string>
      </collapsed>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>5a2136cd93cd0f4c</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$n1k3iBXopMwed/AcKsqik.0lKxc7ks65LF0qS4Gcu5ke657Niu9Xm</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@448.v5b_97805e3767">
      <emailAddress>maja.vuevska@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1680005357512</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>