<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1289.vd1c337fd5354">
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@733.v109046189126">
      <branch plugin="branch-api@2.1071.v1a_188a_562481">
        <sourceId>blueocean</sourceId>
        <head class="org.jenkinsci.plugins.github_branch_source.BranchSCMHead" plugin="github-branch-source@1703.vd5a_2b_29c6cdc">
          <name>dev</name>
        </head>
        <scm class="hudson.plugins.git.GitSCM" plugin="git@5.0.0">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/heads/dev:refs/remotes/origin/dev</refspec>
              <url>https://github.com/vuevska/devops-jenkins.git</url>
              <credentialsId>github</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches class="singleton-list">
            <hudson.plugins.git.BranchSpec>
              <name>dev</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.com/vuevska/devops-jenkins</url>
          </browser>
          <submoduleCfg class="empty-list"/>
          <extensions>
            <hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
              <deleteUntrackedNestedRepositories>false</deleteUntrackedNestedRepositories>
            </hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
            <hudson.plugins.git.extensions.impl.CleanCheckout>
              <deleteUntrackedNestedRepositories>false</deleteUntrackedNestedRepositories>
            </hudson.plugins.git.extensions.impl.CleanCheckout>
            <hudson.plugins.git.extensions.impl.LocalBranch>
              <localBranch>**</localBranch>
            </hudson.plugins.git.extensions.impl.LocalBranch>
            <jenkins.plugins.git.GitSCMSourceDefaults>
              <includeTags>false</includeTags>
            </jenkins.plugins.git.GitSCMSourceDefaults>
          </extensions>
        </scm>
        <properties/>
        <actions>
          <org.jenkinsci.plugins.github__branch__source.GitHubLink plugin="github-branch-source@1703.vd5a_2b_29c6cdc">
            <iconClassName>icon-github-branch</iconClassName>
            <url>https://github.com/vuevska/devops-jenkins/tree/dev</url>
          </org.jenkinsci.plugins.github__branch__source.GitHubLink>
          <jenkins.scm.api.metadata.ObjectMetadataAction plugin="scm-api@631.v9143df5b_e4a_a">
            <objectDisplayName>dev</objectDisplayName>
            <objectUrl>https://github.com/vuevska/devops-jenkins/tree/dev</objectUrl>
          </jenkins.scm.api.metadata.ObjectMetadataAction>
        </actions>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@733.v109046189126">
    <scriptPath>Jenkinsfile</scriptPath>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>